* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #176B87;
}

film-list {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}